html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    outline: 1px solid red;
}

body {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: max-content;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn_orange {
    background: #FF6600;
    color: #fff;
}

.btn_orange:hover {
    background: #c34f02;
}

.btn_white {
    background: #fff;
    color: #000;
}

.btn_white:hover {
    background: gray;
    color: #fff;
}

/* Header styles */
.header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 8px;
    padding: 8px;
    font-size: 18px;
}

.header ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header li {
    list-style: none;
}

.header a {
    text-decoration: none;
    color: inherit;
}

.header a:hover {
    text-decoration: underline;
}

.menu__item_active {
    font-weight: 700
}

.login {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

/* Hero styles */
.hero {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 60px;
    padding: 8px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero__title {
    font-size: 48px;
    font-weight: 850;
    color: #0B1B35
}

.hero__description {
    font-size: 16px;
    font-weight: 500;
}

.hero_btns {
    display: flex;
    gap: 8px;
}

.hero__img {
    width: 100%;
    object-fit: contain;

}

/* Our Vision styles */
.vision {
    text-align: center;
}

.vision__prefix {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 45%;
    color: #8A898E;
}

.vision__title {
    font-size: 36px;
    font-weight: 700;
    color: #0B1B35;
}

.vision-cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
}

.vision-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    padding: 32px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .5);
}

.vision-card__title {
    font-size: 24px;
}

.vision-card__description {
    font-size: 18px;
}

/* Many blocks styles */
.many-blocks {
    margin-top: 60px;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .header {

        margin-top: 16px;
    }

    .header ul {
        gap: 12px;
    }

}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
    }

    .header ul {
        flex-direction: row;

        gap: 24px;
    }

    .hero {
        flex-direction: row;
        border: 3px solid green;
        justify-content: center;
        align-items: center;
        margin-top: 120px;
    }

    .hero__text {
        justify-content: space-between;
        border: 5px solid blue;
        align-self: stretch;
        justify-self: stretch;
        height: 100%;
    }

    .hero__title {
        font-size: 70px;
    }

    .hero__description {
        font-size: 22px;
    }

    .vision {
        margin-top: 120px;
    }

    .vision__title {
        font-size: 52px;
    }

    .vision-cards {
        flex-direction: row;
        margin-top: 96px;
    }

    .vision-card {
        justify-content: space-between;
    }

    .vision-card__title {
        font-size: 32px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1170px;
    }

    .header {
        margin-top: 48px;
    }

    .header ul {
        gap: 40px;
    }

}

/* @media (min-width: 1536px) {} */